.container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.teams-box {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.matchz {
  display: flex;
  justify-content: center;
}

#goal {
}
